.cozinhando{
    width: 400px;
    height: 300px;
    padding: 15px;
}
.equipe{
    width: 400px;
    height: 300px;
}

.descricao-projeto::first-letter {
    text-transform: uppercase;
    font-size: 2em; 
    font-weight: bold;
}

.descricao-projeto {
    font-size: 16px; 
    line-height: 1.6; 
    word-wrap: break-word; 
    word-break: break-word; 
    padding: 10px;
    text-align: justify;
}

.dois{
    width: 600px;
    height: 300px;
    font-family: sans-serif;
}
.um img{
    width: 370px;
}

.space {
    margin: 40px;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column; /* Faz com que a imagem e o texto fiquem em coluna */
        align-items: center; /* Alinha ao centro */
    }

    .um, .dois {
        width: 100%; /* Ambos os elementos ocupam toda a largura disponível */
        padding: 10px; /* Adiciona algum espaço interno */
    }

    .um img {
        width: 100%; /* A imagem ocupa toda a largura da tela em dispositivos pequenos */
        height: auto; /* Mantém a proporção da imagem */
    }

    .descricao-projeto {
        font-size: 14px; /* Diminui o tamanho da fonte para dispositivos menores */
    }
}
