#tres {
    background-color: #FF880C;
    font-family: sans-serif;
    color: aliceblue;
    padding: 20px;
    width: 100%; /* ficar ocupando toda a largura da tela */
    text-align: center;
    display: flex;
    justify-content: center;

}

#quatro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.cinco {
    width: 100px;
    font-size: medium;
    font-family: sans-serif;
}

.imagem {
    width: 100px;
    height: 100px;
}

/*telas pequenas */
@media (max-width: 767px) {
    .d-flex.justify-content-evenly.p-3.m-3 {
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px; 
    }

    #quatro {
        flex-direction: line; 
        margin: 5px;
    }

    .imagem {
        width: 60px; 
        height: 60px;
    }

    .cinco {
        font-size: 0.9rem; 
    }
}
