
.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #d51b21, #ff880c);
  font-family: 'Arial', sans-serif;
}

#titulo-h2{
  color: #000000;
  font-family: 'Arial', sans-serif;
}

.cadastro-form {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  width: 400px; /* Define largura fixa para o formulário */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cadastro-logo {
  width: 60%; /* Reduz o tamanho do logo */
  height: auto;
}

h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
}

input::placeholder {
  color: #ccc;
}

.btn-cadastrar {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  color: #fff;
  background: #ff5722;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-cadastrar:hover {
  background: #ff8e53;
}
